<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener
			class-name="com.coursera.org.Utilities.GenerateReport"></listener>
	</listeners>
	
	<test thread-count="1" name="Full Test">

		<groups>
			<run>
				<include name="Smoke Test"></include>
				<include name="Regression Test"></include>
			</run>
		</groups>

		<classes>
			<class name="com.coursera.org.Test.TestSetup"></class>
			<class name="com.coursera.org.Test.IdentifyCoursesTest"></class>
			<class
				name="com.coursera.org.Test.LanguageLearningCourseCountTest"></class>
			<class
				name="com.coursera.org.Test.FormFillingTestWithValidData"></class>
			<class
				name="com.coursera.org.Test.FormFillingTestWithInvalidData"></class>
		</classes>

	</test> <!-- Test -->
</suite> <!-- Suite -->
